aiohttp
aiosignal
annotated-types==0.6.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
async-timeout
attrs
Babel
beautifulsoup4
bleach
Brotli
cachetools
certifi
cffi
charset-normalizer
click==8.1.7
comm
cryptography
dataclasses-json
debugpy
decorator
defusedxml
diskcache==5.6.3
executing
fastapi==0.109.0
fastjsonschema
fire==0.5.0
frozenlist
google-api-core
google-auth
googleapis-common-protos
greenlet
gunicorn==21.2.0
h11==0.14.0
idna==3.6
iniconfig
ipykernel
ipython
ipywidgets
jedi
Jinja2
json5
jsonpatch==1.33
jsonpointer==2.4
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langchain-experimental==0.0.49
langsmith
llama_cpp_python==0.2.35
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
openapi-schema-pydantic
overrides
packaging==23.2
pandocfilters
parso
pexpect
platformdirs
pluggy
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules==0.2.8
pycparser
pydantic==2.5.3
pydantic_core==2.14.6
Pygments
pyOpenSSL
PyQt5==5.15.10
PyQt5-sip
PySocks
pytest
pytest-subtests
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
Send2Trash
sip
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette==0.35.1
tenacity
termcolor==2.4.0
terminado
tinycss2
tornado
traitlets
typing-inspect
typing_extensions
urllib3
uvicorn==0.27.0
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
yarl
python-dotenv
